body {
    margin: 0;
    display: flex;
    justify-content: center;
}

#base {
    height: 600px;
    width: 400px;
    background-color: grey;
    border: 2px solid black;
    margin-top: 100px;

    display: flex;
    flex-direction: column;
}

.pantalla {
    background-color: white;
    height: 175px;
    margin: 5px;
    border-color: black;
    border-spacing: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 75px;
    border-style: double;
   
    

    
}

/* Contenidor dels botons */
#calculator-buttons {
    flex: 1; /* ocupa tot l'espai restant */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 10px;
    align-content: center; /* centra verticalment els botons */
    
}

button {
    font-size: 22px;
    padding: 20px;
     border-style: double;
     border-color: black;
    border-spacing: 5px;
}
.operator{
    background-color: yellow;
}
